.vp-doc {
    div.fold[class*="language-"] {
        overflow: unset;
        margin-bottom: var(--codeblocks-margin-bottom);

        > .line-numbers-wrapper {
            overflow: hidden;
        }

        > .codeblocks-mask {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 48px;
            width: 100%;
            z-index: 9;
            pointer-events: none;
        }

        > .fold-btn {
            display: flex;
            position: absolute;
            left: 0;
            bottom: -36px;
            height: 36px;
            width: 100%;
            z-index: 9;
            border-radius: 0 0 8px 8px;
            cursor: pointer;
            user-select: none;
            justify-content: center;
            align-items: center;

            > svg.fold-btn-icon {
                animation: float1 infinite .8s;

                &.turn {
                    animation: float2 infinite .8s;
                }
            }

            @for $i from 1 through 2 {
                @keyframes float#{$i} {
                    0% {
                        transform: translateY(0px) if($i == 2, rotate(180deg), null);
                    }
                    50% {
                        transform: translateY(-5px) if($i == 2, rotate(180deg), null);
                    }
                    100% {
                        transform: translateY(0px) if($i == 2, rotate(180deg), null);
                    }
                }
            }
        }
    }

    /* 设置全局滚动条样式 */
    pre.shiki {
        /*--ms-滚动条--*/
        scrollbar-width: auto !important;
        scrollbar-color: transparent transparent !important;

        /*-webkit-滚动条*/
        &::-webkit-scrollbar {
            width: 4px !important;
            height: 4px !important;
            background-color: transparent;
        }

        /*-webkit-滑块*/
        &::-webkit-scrollbar-thumb {
            height: 10px !important;
            outline-offset: 0 !important;
            outline: unset !important;
            border-radius: 2px !important;
            border: 1px transparent solid !important;
            background-color: transparent !important;
        }

        /*-webkit-滑块hover效果*/
        &::-webkit-scrollbar-thumb:hover {
            height: 10px !important;
            border-radius: 2px !important;
            background-color: transparent !important;
        }

        /*-webkit-滚动框*/
        &::-webkit-scrollbar-track-piece {
            -webkit-border-radius: 0 !important;
            background-color: transparent !important;
        }

        /* -webkit-滑轨 */
        &::-webkit-scrollbar-track {
            right: 0 !important;
            background-color: transparent !important;
        }

        /* -webkit-滑轨两头的按钮 */
        &::-webkit-scrollbar-button {
            // display: none;
            height: 4px !important;
            width: 4px !important;
            background-color: transparent !important;
        }

        /* -webkit-边角 */
        &::-webkit-scrollbar-corner {
            background-color: transparent !important;
        }
    }
}
