:root {
  --fold-btn-bg-color: rgba(41, 43, 48, 1);
  --fold-btn-bg-color-dark: rgba(22, 22, 24, 1);
  --codeblocks-margin-bottom: 52px;
}

.vp-doc div.fold[class*="language-"] {
  overflow: unset;
  margin-bottom: var(--codeblocks-margin-bottom);

  > .codeblocks-mask {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 48px;
    width: 100%;
    z-index: 9;
    pointer-events: none;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, var(--fold-btn-bg-color) 100%);
  }

  > .fold-btn {
    display: flex;
    position: absolute;
    left: 0;
    bottom: -36px;
    height: 36px;
    width: 100%;
    z-index: 9;
    background-color: var(--fold-btn-bg-color);
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    align-items: center;

    > svg.fold-btn-icon {
      fill: #dfe4ea;
      animation: float1 infinite .8s;

      &.turn {
        animation: float2 infinite .8s;
      }
    }

    @for $i from 1 through 2 {
      @keyframes float#{$i} {
        0% {
          transform: translateY(0px) if($i == 2, rotate(180deg), null);
        }
        50% {
          transform: translateY(-5px) if($i == 2, rotate(180deg), null);
        }
        100% {
          transform: translateY(0px) if($i == 2, rotate(180deg), null);
        }
      }
    }
  }
}

.dark .vp-doc div[class*="language-"] {
  .codeblocks-mask {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, var(--fold-btn-bg-color-dark) 100%);
  }

  .fold-btn {
    background-color: var(--fold-btn-bg-color-dark);
  }
}
