:root {
	--vp-code-block-bg: rgba(0, 0, 0, .2)
}

.vp-doc {
	div.fold[class*="language-"] {
		overflow: unset;
		margin-bottom: var(--codeblocks-margin-bottom);

		> .codeblocks-mask {
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 48px;
			width: 100%;
			z-index: 9;
			pointer-events: none;
		}

		> .fold-btn {
			display: flex;
			position: absolute;
			left: 0;
			bottom: -36px;
			height: 36px;
			width: 100%;
			z-index: 9;
			border-radius: 0 0 8px 8px;
			cursor: pointer;
			user-select: none;
			justify-content: center;
			align-items: center;

			> svg.fold-btn-icon {
				animation: float1 infinite .8s;

				&.turn {
					animation: float2 infinite .8s;
				}
			}

			@for $i from 1 through 2 {
				@keyframes float#{$i} {
					0% {
						transform: translateY(0px) if($i == 2, rotate(180deg), null);
					}
					50% {
						transform: translateY(-5px) if($i == 2, rotate(180deg), null);
					}
					100% {
						transform: translateY(0px) if($i == 2, rotate(180deg), null);
					}
				}
			}
		}
	}
}
